<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.portfolio.petshuddle">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/petfoodicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/petfoodicon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetsHuddle">
        <activity
            android:name=".UI.FriendRequestsScreen"
            android:exported="true" />
        <activity
            android:name=".UI.ReportScreen"
            android:exported="true" />
        <activity
            android:name=".UI.AddNewEventScreen"
            android:exported="true" />
        <activity
            android:name=".UI.SingleEventScreen"
            android:exported="true" />
        <activity
            android:name=".UI.AddNewPetScreen"
            android:exported="true"
            android:noHistory="true"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".UI.SinglePetScreen"
            android:exported="true"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".UI.MainTabbedActivity"
            android:exported="true" />
        <activity
            android:name=".UI.RegistrationScreen"
            android:exported="true" />
        <activity
            android:name=".UI.LoginScreen"
            android:exported="true" />
        <activity
            android:name=".UI.WelcomeScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Helper.MyEventNotificationReceiver"
            android:enabled="true"
            android:exported="true" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>